*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: rgba(7, 7, 7, 0.797);;   
}

.div{
    background-image: url("./Fondo1.jpg");
    background-size: cover;

}

.h1{
    display: inline-block;
    background: rgba(16, 17, 19, 0.882);
    color: #fefefe;
    border-top: 15px groove rgba(21, 121, 221);
    border-right: 15px double rgb(41, 33, 144);
    border-bottom: 15px groove rgb(21, 121, 221);
    border-left: 15px double rgb(41, 33, 144);
    box-shadow: 5px 5px 5px 5px rgba(20,18,20,0.75);
    margin-top: 5px;
    margin-left: 600px;

}

.imag{
    display: inline-block;
    width: 200px;
    height: 200px;
    object-fit: cover;
    margin: 20px 0px 0 30px;
    border-radius: 100px;
    box-shadow: 5px 5px 5px 5px rgba(20,18,20,0.75);
}

.imag[src='https://wallpapercave.com/wp/wp6978670.jpg']{
    margin-left: 100px;
    margin-right: 30px;
}
.imag[src='https://i.pinimg.com/originals/43/13/d4/4313d4a5a0d74cd7f0c9eacf0e64cab5.jpg']{
    margin-left: 100px;
    margin-right: 30px;
}

.img{
    display: inline-block;
    width: 200px;
    height: 200px;
    object-fit: cover;
    margin: 20px 0px 0 80px;
    border-radius: 100px;
    box-shadow: 5px 6px 11px 0px rgba(20,18,20,0.75);
}

.img[src="https://images.hdqwalls.com/download/j-balvin-jb-1125x2436.jpg"]{
    margin:20px 0 0 100px;
}




.h2{
    margin:10px
}

.p1{
    margin:10px;
    font-size:large;
    text-rendering:optimizeLegibility;
    color:#fefefe
    

}

.a{
    text-decoration: none;
    color:rgba(8, 239, 116)
}
