*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* background: #eee;    */
}

.div{
    background-image: url("./Fondo1.jpg");
    background-size: cover;

}

.h1{
    display: inline-block;
    background: rgba(16, 17, 19, 0.882);
    color: #fefefe;
    border-top: 15px groove rgba(21, 121, 221);
    border-right: 15px double rgb(41, 33, 144);
    border-bottom: 15px groove rgb(21, 121, 221);
    border-left: 15px double rgb(41, 33, 144);
    box-shadow: 5px 5px 5px 5px rgba(20,18,20,0.75);
    margin-top: 5px;
    margin-left: 600px;

}

.imag{
    display: inline-block;
    width: 20%;
    height: 20%;
    object-fit: cover;
    margin-top: 5%;
    margin-left: 8%;
    border-radius: 80%;
    box-shadow: 5px 5px 5px 5px rgba(20,18,20,0.75);
}


.img{
    display:flex;
    justify-content:center;
    align-items: center; 
    max-height: 240px;
    max-width: 240px;
    box-shadow: 5px 6px 11px 0px rgba(20,18,20,0.75);
}




.h2{
    margin:10px;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.p1{
    display: block;
    margin:10px;
    font-family:sans-serif;
    font-size:large;
    text-rendering:optimizeLegibility;
    color: dark;
    

}

p{
    display: flex;
    justify-content:center;
    align-items:center; 
    max-height: 240px;
    max-width: 1240px;
    font-size: large;
}

.a{
    text-decoration: none;
   
}

.flex{
    display: flex;
    justify-content: start;
    align-items: center; 
    max-height: 240px;
}             

